* {
    margin: 0;
    padding: 0;
}
/* --------------- Login Page -------------- */
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #d3d3d3b3;
}
.login-form{
    display: block;
    width: 300px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.login-form .row{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.logo-block{
    display: flex;
    justify-content: center;
}
.logo{
    width: 150px;
    height: 60px;
    margin-top: 35px;
    margin-bottom: 15px;
    background: url("/public/img/logo.png");
    background-size: cover;
}

.login-form .row button{
    margin: 0 auto;
}


/* --------------- Main template -------------- */
/* Navbar */
nav.navbar .nav-link{
    color: white;
}
nav.navbar .nav-link:hover{
    text-decoration: underline;
}
/* Sidebar */
nav.sidebar{
    padding-top: 65px;
    background-color: #b6b1b166;
    height: 100vh;
    border-right: 2px solid #343a40;
}
nav.sidebar .nav-link{
    color: #211818;

}
nav.sidebar .nav-link .icon i{
    margin-right: 5px;
}
nav.sidebar .nav-link .icon{
    display: inline-block;
    width: 30px;
    text-align: center;
}

nav.sidebar .nav-link.active{
    color: #007bff;
}
nav.sidebar .nav-link:hover span.title{
    text-decoration: underline ;
}

/* Main container */
main[role="main"]{
    padding-top: 48px;
}
