* {
    margin: 0;
    padding: 0;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #d3d3d3b3;
}
.login-form{
    display: block;
    width: 300px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.login-form .row{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.logo-block{
    display: flex;
    justify-content: center;
}
.logo{
    width: 150px;
    height: 60px;
    margin-top: 35px;
    margin-bottom: 15px;
    background: url("/public/img/logo.png");
    background-size: cover;
}

.login-form .row button{
    margin: 0 auto;
}