<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="navbar">
        <ul class="menu">
            <li><a href="/test/">ЦИРИ</a></li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
    </div>
  <h1 id="header1" class="header1" style="color: green;">Заголовок 1</h1>
  <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est facere natus omnis placeat quam vero. Aspernatur aut consequuntur deleniti ea ex fuga illo in laborum rem sequi? Alias, cum?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est facere natus omnis placeat quam vero. Aspernatur aut consequuntur deleniti ea ex fuga illo in laborum rem sequi? Alias, cum?</p>

      <img src="/public/img/cirilla.jpg" alt="Цири">
  </div>

  <a href="/test">TEST</a>
  <h2 class="header1">Заголовок 2</h2>
  <h3>Заголовок 3</h3>
  <h4>Заголовок 4</h4>
  <h5>Заголовок 5</h5>
  <h6>Заголовок 6</h6>


  <table class="table">
      <thead>
        <tr>
            <th>test1</th>
            <th>test1</th>
            <th>test1</th>
            <th>test1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
        </tr>
        <tr>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
        </tr>
        <tr>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
        </tr>
        <tr>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
            <td>test1</td>
        </tr>
      </tbody>
  </table>

  <button disabled>OK</button>

</body>
</html>